/* colors and fonts */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Orbitron:wght@400..900&display=swap');

:root {
    /* fonts */
    --mono: 'Courier New', monospace;
    --main: 'Arial', sans-serif;
    --old: "MedievalSharp", cursive;
    --clock: "Orbitron", sans-serif;

    /* base colors */
    --background-light: #ada4a4;
    --background-dark: #0A0A0A; 

    /* font colors */
    --font-light: #E0E0E0; /* Light font color */
    --font-dark: #141414; /* Dark font color */

    /* accent colors */
    --accent-1: #383838; /* Subtle dark gray*/
    --accent-2: #505050; /* Neutral gray */
    
    /* highlight colors */
    --highlight-1: #00AEEF; /* Bright cyan for links and highlights */
    --highlight-2: #FF6F61; /* Vivid coral for buttons and accents */

    /* specific elements */
    --footer-bg: #383838; /* Footer background color */
    --footer-icon: #FF4F4F; /* Footer icon color, slightly darker than buttons */
}

/* MOBILE FIRST DESIGN */
body {
    margin: 0;
    font-family: var(--main);
    background-color: var(--background-light);
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* header height - see nav that pops out */
    height: 3rem;
}
.mobile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* breadcrumb */
.breadcrumb ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.breadcrumb li {
    text-decoration: none;
}
.breadcrumb li p {
    margin-top: -.1rem;
    font-size: 1.1rem;
    padding-left: .2rem;
}
.breadcrumb a {
    text-decoration: none;
    color: var(--font-dark);
}
.breadcrumb a:hover {
    border-bottom: var(--highlight-1) solid .2rem;
}
/* nav */
.nav {
    display: none;
}
nav ul {
    gap: 1rem;
    font-family: var(--mono);
    list-style: none;
    margin: 0;
    position: absolute;
    /* right: -100%; */
    padding: 0;
    }
nav li a {
    text-decoration: none;
    color: var(--font-dark);
}
nav a:hover {
    border-bottom: var(--highlight-1) solid .2rem;
    cursor: pointer;
}
.nav-active {
    right: 0;
    display: flex;
    padding-left: 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    height: 100vh;
    height: calc(100% - 3.2rem);
    width: 50%;
    transition: all 400ms;
    background-color: var(--background-light);
    top: 3.2rem;
  }
/* hamburger button */
.burger {
	/* tweak */
	padding-top: .6rem;
    padding-right: 1.4rem;
  } 
/* sizing for font awesome burger button */
.burger i {
    font-size: 1.5rem;
    cursor: pointer;
}

/* GRADIENT BORDERS - all */
section {
    border-top: .2rem solid transparent;
    border-image: linear-gradient(45deg, var(--highlight-1),var(--highlight-2));
    border-image-slice: 1;
}
/* fixing a bug, the border above the projects section gradient is weird */
.projects-section {
    border-top: .2rem solid transparent;
    border-image: linear-gradient(85deg, var(--highlight-1),var(--highlight-2));
    border-image-slice: 1;
}

/* HERO SECTION */
.hero-section {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding-left: 1rem;
    background-color: var(--background-dark);
    color: var(--font-light);
}
.hero-section p {
    font-size: 1.2rem;
}
.hero-section h1 {
    color: var(--highlight-1);
    font-size: 4rem;
    margin: 0;
    padding-left: 1rem;
}
.hero-section h2 {
    color: var(--highlight-2);
    margin: 0;
    padding-left: .5rem;
}

/* PROJECTS SECTION */
.projects-section {
    background-color: var(--accent-1);
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.projects-section h3 {
    font-size: 1.4rem;
    margin: auto;
    padding: 1rem;
    border-radius: .3rem;
    color: var(--highlight-1);
    background-color: var(--background-dark);
}
/* card wrapper */
.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}
/* cards */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    background-color: var(--background-dark);
    color: var(--font-light);
    border-radius: .2rem;
    font-family: var(--mono);
}
.card h4 {
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--main);
    border-bottom: var(--highlight-2) solid .14rem;
}
.card img {
    width: 100%;
    border-radius: .2rem;
}
.card .socials i {
    font-size: 2rem;
    padding: .4rem;
    color:  var(--highlight-1);
}
.card .socials i:hover {
    color: var(--highlight-2);
}

/* main page contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
.button a {
    text-decoration: none;
    background-color: var(--highlight-2);
    font-weight: bold;
    padding: 1rem;
    border-radius: .3rem;
    color: var(--font-dark);
}
.button a:hover {
    background-color: var(--highlight-1);
}

/* footer */
.footer-section {
    background-color: var(--footer-bg);
    color: var(--font-light);
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .4rem;
}
footer div .socials {
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    gap: .75rem;
}
footer div .socials i {
    color: var(--footer-icon);
} 

/* SUBMIT BUTTON - contact and javascript pages */
.submit-button {
    background-color: var(--highlight-2);
    border: none;
    padding: .8rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: .2rem;
    cursor: pointer;
}
.submit-button:hover {
    background-color: var(--highlight-1);
}

/* CONTACT PAGE */
.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.contact-form-wrapper {
    width: 100%;
    background-color: var(--background-dark);
    padding: 1rem;
    border-radius: .2rem;
    color: var(--highlight-1);
    font-weight: bold;
    font-size: 1.3rem;
}
.contact-form-wrapper fieldset {
    border: none;
}
.user-info .name-and-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding-bottom: .8rem;
}
.comment-area {
    width: 100%;
    height: 10rem;
}

/* ABOUT PAGE */
.about-section {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

/* JAVASCRIPT PAGE */
.javascript-top-section h2 {
    text-align: center;
}
.javascript-buttons {
    display: flex;
    justify-content: center;
}
.javascript-buttons .button {
    background-color: var(--highlight-2);
    font-weight: bold;
    padding: 1rem;
    margin: .4rem;
    border-radius: .3rem;
    cursor: pointer;
}
.javascript-buttons .button:hover {
    background-color: var(--highlight-1);
}
.placeholder {
    display: none;
    justify-content: center;
}
.placeholder i {
    padding: 1.6rem;
    font-size: 8rem;
}
/* madlib */
.madlib-wrapper {
    display: none;
    margin: 1rem;
}
.madlib-form-wrapper {
    width: 100%;
    background-color: var(--background-dark);
    padding: 1rem;
    border-radius: .2rem;
    color: var(--highlight-1);
    font-weight: bold;
    font-size: 1.3rem;
}
.madlib-wrapper legend {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}
.madlib-wrapper fieldset {
   border: none;
}
.madlib-words div {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;
    padding-bottom: .6rem;
}
.madlib-card {
    display: none;
    flex-direction: column;
    margin: .5rem;
    padding: .3rem;
    /* change colors */
    background-color: var(--font-light);
    border: var(--accent-1) .3rem solid;
    border-radius: .2rem;
}
.once-upon-a-time {
    text-align: center;
    margin-bottom: 0;
}
.madlib-story {
    margin-top: 0;
    font-family: var(--mono);
}
.really-big-and-fancy {
    font-family: var(--old);
    font-size: 3.5rem;
}
.big-fancy {
    font-family: var(--old);
    font-size: 2.5rem;
}
/* world clock */
.time-wrapper {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
}
.time-form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.time-form fieldset{
    display: flex;
    flex-direction: column;
}
.show-time {
    width: 100%;
    /* work css so its more responsive */
    display: flex;
    justify-content: center;
}
.show-time p{
    border: var(--background-dark) solid .6rem;
    border-radius: .5rem;
    padding: 1rem;
    font-family: var(--clock);
    font-size: 4rem;
}
/* color theme */
.color-wrapper {
    display: none;
}
.color-form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.color-submit-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* to make stuff show! */
.show-me {
    display: flex;
}

/* MEDIA QUERIES  */
@media (min-width: 650px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    /* maybe slightly confusing with .nav and nav */
    .nav {
        display: flex;
    }
    nav {
        display: block;
        flex-direction: row;
        padding-top: 1.2rem;
        padding-right: 1rem;
    }
    .hero-section {
        padding-left: 7rem ;
    }
    .burger {
        display: none;
    }
    nav ul {
        display: flex;
        right: revert;
        flex-direction: row;
        position: revert;
    }
}
/* @ min-width 900 px */

